.page--container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    // background-color: $theme-page-bg;
    background-color: #f7f9fc;
}

.board--wrapper {
    overflow-x: auto;
    min-height: inherit;
}