$hotpink: #fe4066;
$purple: #7b28c7;
$blue: #2859c7;
$skyblue: #55a8fd;
$orange: #c78f28;
$red: #ff595e;
$green: #5fd07a;
$yellow: #f5c346;

$darkBlue: #292c43;


$light-color: #8898aa;
$placeholder-color: #adb5bd;
$theme-color: #1c3448;
$theme-page-bg: #1c3448;

$theme-neutral-color: #5e72e4;
$theme-danger-color: $red;
$theme-primary-color: $skyblue;
$theme-success-color: $green;
$theme-warning-color: $yellow;


$primary-font: 'Ubuntu', Helvetica sans-serif;
$secondary-font: 'Open Sans', Helvetica sans-serif;

:root{
    --theme-color-dark-1: #4c5265;
    --theme-color-dark-2: #2b2f3f;
    --theme-color-dark-3: #242837;
}