@keyframes drawerSlideIn {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes drawerSlideOut {
    from {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.drawer-slide-in {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-name: drawerSlideIn;
    height: inherit;
}

.drawer-slide-out {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-name: drawerSlideOut;
    height: inherit;
}

@keyframes slideDownOpen {
    from {
        // opacity: 0;
        max-height: 0;
        overflow: auto;
    }
    to {
        // opacity: 1;
        max-height: 100%;
        overflow: auto;
    }
}

@keyframes slideUpClose {
    to {
        // opacity: 0;
        max-height: 0;
        overflow: auto;
    }
    from {
        // opacity: 1;
        max-height: 100%;
        overflow: auto;
    }
}

.slideDownOpen {
    transition: all 0.3s ease-out;
    animation: slideDownOpen 0.3s;
}

.slideUpClose {
    transition: all 0.3s ease-in;
    animation: slideUpClose 0.3s;
}

.invite-box-wrapper {
    padding: 0.625rem 0.75rem !important;
    border-radius: 0;
    border: none;
    background-color: var(--theme-textbox-active-background) !important;
    &.customize-token-input---focused---2EN4q {
        box-shadow: 0 2px 3px rgba(50, 50, 93, 0.11), 0 0 2px rgba(0, 0, 0, 0.08) !important;
        // border-color: #1f89e5 !important;
    }
    &.customize-token-input---errors---1qMJA {
        border-color: #ccc !important;
    }
}

.token--item {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    line-height: 21px !important;
    margin-right: 10px !important;
    font-size: 1em;
    i {
        align-self: center;
        padding: 5px;
        margin-left: 5px;
        flex: 1;
        height: 100%;
        background-color: #ececec;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    &:hover {
        i {
            color: #333 !important;
        }
    }
}

@keyframes clockwise {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(180deg);
    }
}

@keyframes anticlockwise {
    to {
        transform: rotateZ(0deg);
    }
    from {
        transform: rotateZ(180deg);
    }
}

.flip-down {
    transform: rotateX(180deg);
    transition: all 0.2s ease-in;
}

.flip-up {
    transform: rotateX(0deg);
    transition: all 0.2s ease-out;
}

.flip-left {
    transform: rotateZ(180deg);
    transition: all 0.2s ease-in;
}

.flip-right {
    transform: rotateZ(0deg);
    transition: all 0.2s ease-out;
}

.transition {
    transition: .3s ease all;
}