textarea {
    padding: 1em;
    width: 100%;
    min-width: 100%;
    min-height: 10em;
    resize: none;
    font-size: 1em;
}

.on-focus {
    &:focus {
        outline: none;
        box-shadow: none;
        color: var(--theme-text-color);
        background-color: var(--input-focus-backgorund) !important;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    // font-size: 1rem;
    // border: 1px solid #1f89e5 !important;
    // -webkit-text-fill-color: inherit !important;
    // -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    // transition: background-color 5000s ease-in-out 0s;
    color: inherit;
    box-shadow: none !important;
    @extend .on-focus;
}

label {
    font-weight: 600;
    font-size: 0.8em;
    display: block;
    margin-bottom: 0.6em;
}

.form-control {
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.05rem + 0.7em);
    padding: .625rem .75rem;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    background-clip: padding-box;
    border: transparent;
    &.rounded {
        @include borderRadius;
    }
    &::focus,
    &::active,
    &::-webkit-autofill:focus,
    &::-webkit-autofill:active {
        box-shadow: none !important;
        background-color: var(--nav-color) !important;
    }
    &::placeholder {
        color: var(--theme-textbox-placeholder-color);
        // font-family: $secondary-font;
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
textarea {
    font-family: inherit;
    font-size: 1em;
    &::placeholder {
        color: var(--theme-textbox-placeholder-color);
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input {
        font-size: 1em;
    }
}

.form-group-inline {
    .form-group {
        @include responsive($sm, "max") {
            padding: 0px;
        }
        @include responsive($sm, "min") {
            &:first-child {
                padding-left: 0px;
            }
            &:last-child {
                padding-right: 0px;
            }
        }
    }
}

.form-group {
    // margin-bottom: 1.5rem;
    .input-group {
        transition: box-shadow .15s ease;
        border: 0;
        position: relative;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: stretch;
        label {
            padding-left: 12px;
        }
        &.with-icon {
            .icon {
                position: absolute;
                z-index: 1;
                font-size: 1.5em;
                color: var(--theme-text-color);
                padding: 0 0.5em;
                height: 100%;
                line-height: 2em;
                &.to-left {
                    top: 0;
                    left: 0;
                }
                &.to-right {
                    top: 0;
                    right: 0;
                }
            }
            input.form-control {
                &.to-left {
                    padding-left: 3.2em;
                }
                &.to-right {
                    padding-right: 3.2em;
                }
            }
        }
        .form-control {
            position: relative;
            width: 100%;
            margin-bottom: 0;
            flex: 1 1 auto;
            font-size: .875rem;
            transition: none;
            background-color: var(--theme-textbox-background);
            color: var(--theme-text-color);
            &:hover,
            &:focus {
                outline: none;
                box-shadow: none;
                background-color: var(--theme-textbox-active-background);
            }
            &::placeholder {
                color: var(--theme-textbox-placeholder-color);
            }
            &:not([readOnly]) {
                background-color: var(--theme-textbox-active-background);
            }
            &.border {
                border: var(--theme-border);
            }
            &.inverted {
                background-color: var(--body-color);
            }
            &.rounded {
                @include borderRadius;
            }
        }
    }
    .input-group-icon {
        margin-right: -1px;
        display: flex;
        .input-group-text {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            display: flex;
            margin-bottom: 0;
            padding: .625rem .75rem;
            text-align: center;
            white-space: nowrap;
            color: var(--theme-text-color);
            background-color: var(--theme-textbox-background);
            align-items: center;
            &.rounded {
                @include borderRadius;
            }
        }
    }
}

textarea.form-input,
input.form-input {
    // &:focus,
    // // &:active {
    // //     outline: none;
    // //     box-shadow: none !important;
    // //     background-color: var(--theme-textbox-active-background) !important;
    // // }
    &::placeholder {
        color: var(--theme-textbox-placeholder-color);
        // font-weight: 700;
    }
}

.readOnly {
    // pointer-events: none !important;
    // border: var(--theme-border) !important;
}

.input-editor {
    label {
        padding-left: 12px;
    }
    .ck-editor__editable.ck.ck-content {
        min-height: 100px;
        @include borderRadius;
        border-radius: 3px;
        color: var(--theme-text-color);
        &.ck-editor__editable_inline {
            padding: 0rem .75rem;
            background-color: var(--theme-color);
        }
        &.ck-read-only {
            border-color: transparent;
            border: 1px solid transparent;
        }
        &.ck-blurred {
            border-color: transparent;
            &:hover {
                background-color: var(--theme-textbox-active-background);
            }
        }
        &[contenteditable=true] {
            // border: 1px solid transparent;
            // background-color: var(--theme-textbox-active-background);
            &.ck-focused {
                outline: none;
                box-shadow: none;
                background-color: var(--theme-textbox-active-background);
            }
        }
        .ck-placeholder::before {
            color: var(--theme-textbox-placeholder-color);
        }
    }
    .ck.ck-editor__top.ck-reset_all {
        display: none;
    }
}

.editable__input {
    position: relative;
    .form-group {
        .input-group {
            input {
                padding-right: 3em;
            }
        }
    }
    .edit-btn {
        position: absolute;
        right: 0em;
        bottom: 0em;
        border: 0;
        background-color: transparent;
        font-size: 1em;
        padding: 1em 1em;
        height: calc(2.05rem + 0.7em);
        display: none;
    }
    &:hover {
        .edit-btn {
            display: block;
        }
    }
    &[data-editable="false"] {
        * {
            cursor: pointer;
        }
    }
    &[data-editable="true"] {
        .edit-btn {
            display: none;
        }
        .form-group {
            .input-group {
                .form-control {
                    &:focus {
                        background-color: var(--theme-textbox-active-background);
                        outline: 0;
                        box-shadow: inset 0 0 0 1px var(--color-blue);
                    }
                }
            }
        }
        .input-editor {
            .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
                border: 1px solid var(--color-blue);
            }
        }
    }
}

.anchor {
    color: var(--color-skyblue);
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}