@keyframes heartPump {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {}
}

.sidenav--primary {
    z-index: 110;
    height: 100%;
    position: fixed;
    width: 250px;
    font-size: 1.2em;
    background-color: var(--theme-color-dark-3);
    color: #f7f7f7;
    justify-content: space-between;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    @include responsive($sm, "max") {
        left: -280px;
    }
    &.slideIn {
        left: 0px;
    }
    &.collapsed-in,
    &.collapsing {
        transition: all 0.3s ease-in-out;
        width: 40px !important;
        flex-grow: unset;
        .nav-list-heading {
            justify-content: center;
        }
        .sidenav-head {
            .header--logo {
                width: 90%;
            }
            .font-logo {
                margin: auto;
                .f {
                    font-size: 1.2em;
                    background-color: #fff;
                    padding: 0.2em 0.4em;
                    display: inline-block;
                    line-height: 0.9;
                    border-radius: 3px;
                }
            }
        }
    }
    .sidenav-head {
        text-align: center;
        height: 60px;
        display: flex;
        text-decoration: none;
        align-items: center;
        .font-logo {
            margin: auto;
        }
        .header--logo {
            width: 60%;
            height: auto;
            padding: 0.4em 1em;
            max-width: unset;
        }
    }
    .sidenav-body {
        flex: 1 1 auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .sidenav-footer {
        // position: absolute;
        // width: 100%;
        // bottom: 0;
        // left: 0;
        .sidenav-footer--wrapper {
            p {
                font-size: 0.7em;
                text-align: center;
                font-weight: 500;
                i {
                    vertical-align: middle;
                    margin-left: 0.2em;
                    animation: heartPump;
                    animation-direction: normal;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-delay: 1s;
                }
            }
        }
    }
}

.active-list-item {
    background-color: rgba(0, 0, 0, 0.32);
    cursor: pointer;
    transition: 0.3s ease all;
    @extend .text-success;
    i {
        @extend .text-success;
    }
}

.nav-list {
    @include transition;
    &.active {
        @include transition;
        .nav-list-heading {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    .nav-list-heading {
        font-size: 0.8em;
        margin-bottom: 0;
        position: relative;
        padding: 1em 0.5em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);
        display: flex;
        justify-content: space-between;
        .nav-list-name {
            display: flex;
            align-items: center;
            &--title {
                margin-left: 0.7em;
                font-size: 1.1em;
            }
        }
        i {
            font-size: 1.5em;
            margin-right: 0.5em;
            align-self: center;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    .nav--list {
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);
        .nav-list--wrapper {
            max-height: 14rem;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.1);
            .nav-list-item {
                font-size: 0.8rem;
                display: flex;
                align-items: baseline;
                transition: 0.3s ease all;
                text-decoration: none;
                padding: 0.8em 0.5em 0.8em 1em;
                .nav-list-item--name {
                    margin-left: 1em;
                }
                .nav-list-item--lastactive {
                    i {
                        font-size: 0.8em;
                    }
                }
                &.active-workspace {
                    @extend .active-list-item;
                }
                &:hover {
                    @extend .active-list-item;
                }
            }
        }
        .new-workspace {
            padding: 0 0.5em;
            >button {
                text-align: left;
                margin: 0.5em 0;
                padding: 0.4em 0.5em;
                // font-weight: 600;
                // transition: 0.3s ease all;
                i {
                    margin-right: 10px;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1) !important;
                    border-radius: 0.2rem;
                    color: #fff !important;
                    box-shadow: none;
                }
            }
        }
    }
}

.collapse-nav-btn {
    position: absolute;
    bottom: 0.5em;
    right: -0.7em;
    background-color: var(--theme-color-dark-1);
    height: 1.5em;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 1px 6px 0 rgba(47, 47, 47, 0.73);
    cursor: pointer;
    &:hover {
        background-color: #fff;
        color: $dark-grey;
    }
}

.not-side-nav {
    transition: all 0.3s ease-in-out 0s;
    @include responsive ($sm, "min") {
        margin-left: 250px;
        width: calc(100% - 250px);
        &.collapsed-in,
        &.collapsing {
            margin-left: 40px;
            width: calc(100% - 40px) !important;
        }
    }
}

.sidenav-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: 109;
}