@keyframes heartPump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {}
}

.sidenav--primary {
    width: 250px;
    font-size: 1.2em;
    background-color: var(--theme-color-dark-3);
    color: #f7f7f7;
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .sidenav-head {
        text-align: center;
        margin: 1em;
    }
    .sidenav-body {
        flex: 1 1 auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .sidenav-footer {
        // position: absolute;
        // width: 100%;
        // bottom: 0;
        // left: 0;

        .sidenav-footer--wrapper {
            p {
                font-size: 0.7em;
                text-align: center;
                font-weight: 500;

                i {
                    vertical-align: middle;
                    margin-left: 0.2em;
                    animation: heartPump;
                    animation-direction: normal;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-delay: 1s;
                }
            }
        }
    }
}

.user-box {
    padding: 0.5em;
    &.user-box-min {
        padding: 0;
        height: inherit;
        display: inline-flex;
        .user-box--wrapper {
            background-color: transparent !important;
            margin: auto;
            border-radius: 100% !important;
            box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.18);
            .user-box--img {
                height: 30px;
                width: 30px;
                border-radius: 100% !important;
            }
        }
        .user-options-list {
            min-width: 140px;
            left: inherit !important;
            right: 0;
        }
    }

    // margin-bottom: 2em;
    .user-box--wrapper {
        background-color: var(--theme-color-dark-1);
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em;
        @include borderRadius;
        transition: 0.3s ease all;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.18);

        .user-options-list {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -2.2em;
            z-index: 2;

            .user-options-list--wrapper {
                box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.57);
                @include borderRadius;
                // background-color: #213f58;
                background-color: var(--theme-color-dark-1);
                .user-option-list-item {
                    padding: 0.5em 1em;
                    font-size: 1em;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.08);
                    }
                }
            }
        }

        .user-box--img {
            height: 40px;
            width: 40px;
            display: inline-block;
            @include borderRadius;
            overflow: hidden;

            img {
                max-width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .user-box--info {
            display: inline-block;
            flex-direction: column;
            margin: auto auto auto 0.8em;
            width: calc(100% - 100px);

            span {
                display: block;

                &.user-box--name {
                    font-size: 0.8em;
                }

                &.user-box--status {
                    font-size: 0.8em;
                    display: block;
                    margin-top: 0.3em;
                    font-weight: 600;

                    i {
                        margin-right: 0.4em;
                        font-size: 0.9em;
                    }
                }
            }

        }

        .user-box--dropdown {
            padding: 0 0.4em;
            font-size: 1.6em;
            margin: auto;
            color: #adb5bd;
            margin-right: 0;
            width: 40px;

            transition: 0.3s ease all;

            i {
                font-size: 0.6em;
                vertical-align: middle;
                background-color: rgba(255, 255, 255, 0.08);
                padding: 0.3em;
                border-radius: 4px;
            }
        }
        &:hover, &:active, &:focus {
            cursor: pointer;
            color: #fff !important;
            transition: 0.3s ease all;
            background-color: rgba(255, 255, 255, 0.08);
            box-shadow: none;
            background-color: var(--theme-color-dark-2);
        }
    }
    &:focus {
        outline: none;
    }
}

.nav-list {
    &.active{
        .nav-list-heading{
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    .nav-list-heading {
        font-size: 0.8em;
        margin-bottom: 0;
        position: relative;
        padding: 1em 0.5em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);
        i {
            font-size: 1.5em;
            float: right;
            margin-right: 0.5em;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    .nav--list {
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);

        .nav-list--wrapper {
            max-height: 14rem;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.1);

            .nav-list-item {
                font-size: 0.8rem;
                display: flex;
                align-items: baseline;
                transition: 0.3s ease all;
                text-decoration: none;
                padding: 0.8em 0.5em;

                .nav-list-item--name {
                    margin-left: 1em;
                }

                .nav-list-item--lastactive {
                    i {
                        color: #696969;
                        font-size: 0.8em;
                    }
                }
                &:hover {
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.12);
                    transition: 0.3s ease all;
                }
            }
        }

        .new-workspace {
            padding: 0 0.5em;

            > button {
                text-align: left;
                margin: 0.5em 0;
                padding: 0.4em 0.5em;

                // font-weight: 600;
                // transition: 0.3s ease all;
                i {
                    margin-right: 10px;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1) !important;
                    border-radius: 0.2rem;
                    color: #fff !important;
                    box-shadow: none;
                }
            }
        }
    }
}
