.active-card {
    cursor: pointer;
    user-select: none;
}

.card-drop-box {
    content: "";
    height: 0px;
    padding: 0.3em;
    background-color: #33333326;
    margin: 0.5em;
    border: 3px;
}

.task-card {
    // visibility: visible;
    display: block;
    scroll-behavior: smooth;
    user-select: none;
    font-weight: 500;
    color: var(--card-text-color);
    padding: 0.5em;
    line-height: 1.5em;
    font-size: 1em;
    margin: 0 1em 1em 1em;
    word-break: break-word;
    cursor: pointer;
    transition: 0.1s ease all;
    border: 1px solid transparent;
    @include borderRadius;
    border-color: var(--card-background);
    background-color: var(--card-background);
    box-shadow: 0 1px 2px 0 rgba(9, 30, 66, .25);
    &:last-child {
        margin-bottom: 0.5em;
    }
    p {
        margin: 0px;
    }
    &.task-placeholder {
        background-color: #e5eef5;
        box-shadow: none;
        border: 0px;
    }
    &.task-card-placeholder {
        background-color: rgba(255, 255, 255, 0.46) !important;
        margin: 1em !important;
    }
    .task-card--header {
        margin-bottom: 1em;
    }
}