.task-list--wrapper {
    display: block;
    width: 270px;
    min-width: 270px;
    padding: 0.7em 0;
    margin: 0 0.5em;
    max-height: 80vh;
    border-radius: 3px;
    background-color: var(--nav-color);
    @include responsive($sm, "max") {
        width: 100%;
        min-width: auto;
        margin: 1em 0px 1em;
        max-height: 100%;
        background-color: #fff;
        padding: 1em;
    }
    .task-list {
        display: flex;
        flex-direction: column;
        max-height: inherit;
        @include borderRadius;
        border-color: #fff;
        // background-color: transparent;
        // background-color: #f7f9fc;
        .task-list--header {
            font-size: 1em;
            font-weight: 700;
            color: $light-color;
            margin-bottom: 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5em 0;
            position: relative;
            border-bottom: var(--theme-border);
            p {
                margin: 0;
                padding-left: 1em;
                padding-right: 3em;
            }
            .task-list--options-btn {
                padding: 0.4em 1em;
                position: absolute;
                right: 0;
                top: 0.2em;
                &:hover,
                &:focus,
                &.active {
                    background-color: #e5eef5;
                    @include borderRadius;
                    box-shadow: inset 0px 0px 3px #ddd;
                }
            }
        }
        .task-list--body {
            scroll-behavior: smooth;
            display: block;
            height: inherit;
            width: 100%;
            @include borderRadius;
            float: left;
            flex: 1 1 auto;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .task-list--footer {
            float: left;
            margin: 0.5em 1em 0 1em;
            button {
                width: 100%;
            }
        }
    }
    &.active-list-item {
        // background-color: $success-color !important;
        @extend .bg-success-light;
    }
}

.active-list-item {
    cursor: all-scroll;
}

.create-new-list-form {
    .form-group {
        margin-bottom: 1em;
    }
}

.dropable-list {
    @include responsive($sm, "min") {
        display: flex;
        overflow-x: auto;
        height: 84vh;
    }
    @include responsive($sm, "max") {
        padding: 1em;
    }
}

.dropable-list {
    .smooth-dnd-container.horizontal {
        display: flex;
        >.smooth-dnd-draggable-wrapper {
            // padding: 0 1em;
            height: 100%;
            display: inline-flex;
            vertical-align: top;
            &:hover {
                cursor: pointer;
            }
        }
        >.smooth-dnd-ghost {
            .dragable-list {
                box-shadow: 0 1px 2px 0 rgba(9, 30, 66, .25);
            }
            // width: 270px !important;
        }
    }
}

.task_list-drop-preview {
    @include borderRadius;
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 0 0.5em;
    background-color: var(--nav-active-color);
    * {
        visibility: hidden;
    }
}

.create-new-list-form {
    padding: 1em;
}